.ownerRegistration-main {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.ownerRegistration-input {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 10px;
}

.ownerRegistration-alert {
  margin: 0 10px 0 0;
  color: red;
}

.ownerRegistration-inputTxt {
  margin: 0 10px 0 0;
}
