.proposalItem-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 200px;
}
