.voterRegistration-main {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.voterRegistration-operation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.voterRegistration-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.voterRegistration-input {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 20px 1fr 1fr 1fr;
  grid-template-areas: "a b c d e";
  align-items: center;
  justify-items: center;
  margin: 10px 0 10px 0;
}

.voterRegistration-inputTxt {
  grid-area: c;
}

.voterRegistration-alert {
  margin: 0 5px 0 5px;
  color: red;
  grid-area: b;
}

.registerVoter-button {
  grid-area: d;
}

.addVoter-button {
  grid-area: e;
}
