.voterRegistration-main {
  display: flex;
  flex-direction: column;
}

.voterRegistration-operation {
  display: flex;
  flex-direction: row;
}

.voterRegistration-add {
  display: flex;
  flex-direction: column;
}
