.proposalRegistration-main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.proposalRegistration-operation {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.proposalRegistration-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.proposalRegistration-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 550;
  justify-content: space-evenly;
}

.proposalRegistration-alert {
  flex-shrink: 0;
}

.proposalRegistration-inputTxt {
  flex-shrink: 0;
  min-width: 250px;
}

.removeproposal-btn {
  flex-shrink: 0;
}
