.proposalRegistration-main {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
}

.proposalRegistration-operation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.proposalRegistration-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.proposalRegistration-input {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b c d";
  align-items: center;
  justify-items: center;
  margin: 10px 0 10px 0;
}

.proposalRegistration-inputTxt {
  grid-area: b;
}

.registerProposal-button {
  grid-area: c;
}
